<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css"/>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
    <div class="nav-bar"></div>

    <div class="cart">Cart({{ cart }})</div>

    <div class="product-display">
        <div class="product-container">
            <div class="product-image">
                <!-- Attribute-Binding to an expression -->
                <!-- <img v-bind:src="image"> -->
                <img :class="{ 'out-of-stock-img': inventory < 1}"
                     :src="image">
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>
                <p>{{ description }}</p>

                <p v-show="onSale">On Sale</p>
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Fast Ausverkauft</p>
                <p v-else=>Out of Stock</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <!-- unique Key für update und performance -->
                <div
                        v-for="variant in variants"
                        :key="variant.id"
                        @mouseover="updateImage(variant.image)"
                        class="color-circle"
                        :style="{ backgroundColor: variant.color}"> <!-- Css Backgound setzen -->
                </div>
                <a :href="url">Link to Google</a>

                <!-- Klick Events über Eventhandler -->
                <button
                        class="button"
                        :class="{disabledButton: inventory < 1}"
                        :disabled="inventory < 1"
                        @click="addToChart()">
                    Add to Cart
                </button>
                <button class="button" @click="removeFromChart()">Remove</button>
            </div>
        </div>
    </div>
</div>

<!-- Import App -->
<script src="./main.js"></script>

<!-- Mount App -->
<script>
    const mountedApp = app.mount('#app')
</script>
</body>
</html>